
<div layout="row" >
    <div flex="10"></div>

    <div flex="80" class='m-20px-0'>

        <!-- page title & 'create comment' button -->
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <!-- page title -->
                <div flex md-truncate>
                    <h3 class="md-headline">Comments View</h3>
                </div>

                <!-- button for creating comment -->
                <md-button class="md-raised" ng-click="showCreateCommentForm()">Create</md-button>
            </div>
        </md-toolbar>

        <!-- used for searching comments in api -->
        <md-input-container class="md-block m-b-0px">
            <form ng-submit="searchComments()">
                <label>Search Comments...</label>
                <input ng-model="comment_search_keywords">
            </form>
        </md-input-container>

        <md-content flex>
            <!-- show comment record list -->
            <md-list ng-init="getAllComments()">
                <div class="md-3-line" ng-repeat="comment in comments">

                    <!-- comment information -->
                    <div class="md-list-item-text">
                        <h4> Comment : {{comment.id}}</h4>
                        <div class="comment">
                            <h3>{{comment.name}}</h3>
                            <p>{{comment.body}}</p>
                            <p class="email"> {{comment.email}}</p>
                        </div>
                    </div>

                    <!-- 'edit' and 'delete' buttons -->
                    <!--<div class="md-secondary-container">-->
                        <!--&lt;!&ndash; 'read one' button will be here &ndash;&gt;-->
                        <!--<i class="fa fa-remove" ng-click="showRemoveCommentForm(comment)></i>-->
                        <!--<i class="fa fa-edit " ng-click="showUpdateCommentForm(comment)"></div>-->
                        <!--&lt;!&ndash; 'edit' button will be here &ndash;&gt;-->
                        <!--&lt;!&ndash; 'delete' button will be here &ndash;&gt;-->

                    <!--<md-divider ng-if="!$last"></md-divider>-->
                    <!--</md-list-item>-->
                </div>
            </md-list>
        </md-content>
    </div>

    <!--<div flex="10"></div>-->
</div> <!-- end row -->