
<div layout="row" >
    <div flex="10"></div>

    <div flex="80" class='m-20px-0'>

        <!-- page title & 'create comment' button -->
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <!-- page title -->
                <div flex md-truncate>
                    <h3 class="md-headline">Comments View</h3>
                </div>
                <!-- button for creating comment -->
                <img src="public/images/add.png" class="add-icon" ng-click="showCreateCommentForm()">
            </div>
        </md-toolbar>
        <div class="commentsList">
            <div flex md-truncate>
                <h3 class="md-headline">Comments List</h3>
            </div>

            <!-- used for searching comments in api -->
            <md-input-container class="md-block m-b-0px search">
                <form ng-submit="searchComments()">
                    <label>Search Comments...</label>
                    <input ng-model="comment_search_keywords">
                </form>
            </md-input-container>

            <md-list-item>
                    Search by Id
                <md-switch ng-model="searchBy" class="md-primary" aria-label="Switch 1" ng-change="onChange()">
                    Search by Email
                </md-switch>
            </md-list-item>

            <md-content flex>
                <!-- show comment record list -->
                <md-list ng-init="getAllComments()">
                    <md-list-item class="md-3-line" ng-repeat="comment in comments">
                        <!-- comment information -->
                        <div class="md-list-item-text">
                            <p class="commentText"> Comment : {{comment.id}}</p>
                            <div class="comment">
                                <h3>{{comment.name}}</h3>
                                <p>{{comment.body}}</p>
                                <p class="email"> {{comment.email}}</p>
                            </div>
                        </div>
                        <!-- 'edit' and 'delete' buttons -->
                        <div class="md-secondary-container">
                            <i class="fa fa-edit" ng-click="showUpdateCommentForm(comment)"></i>
                            <i class="fa fa-remove" ng-click="confirmDeleteComment($event,comment.id)"></i>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div> <!-- end row -->