.comment{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  width:95%;
  padding-left: 5px;
}
.md-list-item-text{
  border-bottom:1px solid white;

}
.email{
  background-color: #0080ff;
  color:white;
  display: inline;
}
